*~
\.pc
byteback.sublime-project
byteback.sublime-workspace
debian/*.debhelper.log
debian/*.substvars
debian/byteback
debian/byteback-mysql
debian/debhelper-build-stamp
debian/files
debian/patches
man/*.man
